.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}

.btn-gray {
  background-color: $light-gray-color;
  color: white;
  margin-top: 15px;
  padding: 5px;
  font-size: 10px;
}

.btn-submit {
  background-color: green;
  color: white;
  width: 100%;
  height: 100%;
}
