$red-color: #da091a;
$green-color: #5db127;
$blue-color: #3f51b5;
$light-blue-color: #e4f6f7;
$content-color: #f6f6f6;
$gray-color: #1f2c2f;
$light-gray-color: #9b9b9b;
$light-pink-color: #ff9ec0;
$pink-color: #f50258;


