.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 8vh;
  background-color: $red-color;

  section {
    margin: 0 10vw 0 10vw;
  }

  nav {
    width: auto;
    float: left;

    ul {
      display: table;
      float: left;

      li {
        margin: 15px 10px 0 10px;
        float: left;

        a {
          color: white;
          font-size: 18px;
          display: inline-block;
          transition: all 0.5s ease 0s;
        }

        a:hover {
          color: $light-gray-color;
          transition: all 0.5s ease 0s;
        }
      }
    }
  }


  .nav-logo {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100%;
    float: left;
    margin: 10px 10px 0 10px;
  }

  .menu-icons {
    float: right;
    color: white;
    padding: 15px 0;
    display: inline-block;

    i {
      float: left;
      height: 24px;
      margin: 0 10px 0 10px;
    }

    .toggle-menu ul {
      display: table;
      width: 25px;
    }
    .toggle-menu ul li {
      width: 100%;
      height: 3px;
      background-color: white;
      margin-bottom: 4px;
    }

    input[type=checkbox], label {
      display: none;
    }
  }

  .avatar {
    float: right;
    color: white;
    padding: 15px 0;
    display: inline-block;
  }



  @media only screen and (max-width: 1440px) {
    section {
      max-width: 95%;
    }
  }

  @media only screen and (max-width: 980px) {
    .menu-icons {
      float: right;
      color: white;
      display: inline-block;

      input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
      }
      input[type=checkbox]:focus {
        background: none;
      }
      label {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px 0 10px;
      }
      input[type=checkbox]:checked ~ nav {
        display: block;
      }
    }


    nav {
      display: none;
      background-color: black;
      padding: 0;
      z-index: 99;

      ul {
        width: auto;

        li {
          float: none;
          padding: 0;
          width: 100%;
          display: table;

          a {
            color: white;
            font-size: 15px;
            padding: 10px 20px;
            display: block;
            border-bottom: 1px solid rgba(225, 225, 225, 0.1);
          }

        }

      }
    }
  }
}
