
.overview {
  h1 {
    margin-bottom: 2em;
  }

  .personal-section, .service-section, .note-section, .parameters-section {
    margin-bottom: 2em;
    h3 {
      color: $light-gray-color;
    }
  }

  .service-section {
    .service-field {
      display: inline-block;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      background-color: white;
      border-style: solid;
      border-color: white;
      margin-top: 8px;
      margin-bottom: 4px;

      label {
        color: black;
      }

      i {
        float: right;
        font-size: 24px;
        margin-top: 8px;
        color: $light-gray-color;
      }
    }

    .service-field--active {
      border-style: solid;
      border-color: $blue-color;
      background-color: $light-blue-color;;
      i {
        color: $blue-color !important;
      }

    }

    .internet-available {
      display: inline-block;
      width: 100%;


      i, label {
        color: #5db127;
        margin: 30px 10px 0 10px;
      }
    }

    .service-unavailable {
      display: inline-block;
      width: 100%;

      i, label {
        color: $red-color;
        margin: 30px 10px 0 10px;
      }
    }

  }

}




