.subHeader {
    position: sticky;
    top: 8vh;
    left: 0;
    z-index: 1000;
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, .3);
    height: 8vh;
    background-color: $gray-color;

  a {
    position: absolute;
    top: 0;
    left: 10vw;
  }
}