
body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $content-color;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}